.AllTransactions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  margin-top: 50px;
}

.Header {
  margin: 2.5% auto;
  font-weight: 900;
  letter-spacing: 3px;
  font-family: "Caudex", serif;
  font-size: 3rem;
}

.AllTransactions-contents {
  height: 100%;
  margin: 5px 2.5px;
  padding: 2.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.AllTransaction-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AllTransactions h4 {
  margin: 2.5% auto;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 1px;
  font-family: "Caudex", serif;
  font-size: 1.5rem;
}

.Main-month {
  display: flex;
  justify-content: center;
  align-items: center;
}

.DatePicker {
  border-radius: 5px;
  border: 0.5px solid;
  font-family: "Caudex", serif;
  color: #a29415;
  width: 8em;
  padding: 1px 5px;
}
