.App {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Caudex", serif;
}

#root {
  height: 100%;
}

input {
  transition: all 0.4ms ease-in-out;
}
input:hover {
  transform: scale(1.05);
}
input:focus {
  border: none;
  outline: 0;
}
