.modal {
  position: fixed;
  z-index: 100;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.modal-main {
  position: fixed;
  background: rgba(251, 240, 223, 0.9);
  border-radius: 5px;
  z-index: 100;

  width: 80%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5.5%;
}

.modal-main-big {
  position: fixed;
  background: rgba(251, 240, 223, 0.9);
  z-index: 100;
  border-radius: 5px;

  width: 80%;
  height: 72.5%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5%;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal input {
  width: 400px;
  border: none;
  border-radius: 5px;
  height: 50px;
  padding: 5px 15px;
  font-family: "Caudex", serif;
  font-size: 1rem;
}

.modal-main-big input {
  width: 550px;
}

.Modal-h2-header {
  margin-top: 2.5%;
  font-size: 2.5rem;
}
