.Navbar {
  list-style-type: none;
  background-color: #5f6f52;

  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 50px;
}
.Navbar-component {
  margin: 0 15px;
  display: inline;
  float: left;
}
.Navbar-component a {
  width: 100%;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.Navbar-component a:hover {
  background-color: #3f3f3f;
}

.scroll {
  opacity: 0.7;
  transition: 0.1s ease-out;
}
