.Transaction {
  padding: 1.5% 2.5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 2.5%;
  min-width: 470px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 5px;
  background-color: #fff;
}

.less-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1499px) {
  .Transaction {
    min-width: 950px;
  }
}

.Transaction-data {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  padding: 5px;
}

.data {
  background-color: #b0926a;
  color: #fae7c9;
}

.Transaction p {
  font-size: 0.7rem;
  min-width: 80px;
}

.name {
  font-size: 0.9rem;
  font-weight: 600;
}

.heading {
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-decoration-skip-ink: auto;
  text-underline-position: under;
  font-weight: 500;
}

.Transaction-handlerBtn {
  border: none;
}
