.TransactionsContainer {
  margin: 1.5%;
  padding: 5px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.TransactionsContainer h2 {
  font-family: "Cedarville Cursive", cursive;
}
